@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 200px;
}

body {
  background-color: rgba(7, 151, 211, 255);
}

h2 {
  font-family: bangers;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px #060547;
}

h1 {
  padding-top: 40px;
  font-family: bangers;
  color: rgba(7, 151, 211, 255);
  text-shadow: 2px 2px #060547;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-image: radial-gradient(
    rgba(254, 226, 103, 255),
    rgba(232, 167, 65, 255)
  );
  height: 200px;
}
